/**
 * @name Visual Refresh Compact Title Bar
 * @author Wolfÿ
 * @version 1.1.3-Alpha
 * @description A Discord theme to compact the new visual refresh title bar
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

 .visual-refresh {
  /* === VARIABLES === */
  --vr-header-snippet-space: 230px;
  --vr-top-spacing: 20px;

  /* === CHAT PADDING === */
  .chat_f75fb0 section.container__9293f,
  .subtitleContainer_f75fb0 section.container__9293f,
  .container__133bf section.container__9293f,
  .chatLayerWrapper__01ae2 section.container__9293f {
    padding-right: var(--vr-header-snippet-space);
  }

  /* === BASE STRUCTURE === */
  .base_c48ade {
    display: grid;
    grid-template-rows: var(--vr-top-spacing) min-content auto min-content;

    > .bar_c38106 {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      padding: 0;
      z-index: 1;
    }

    > .content_c48ade {
      z-index: 0;
    }

    /* Hide title text */
    .title_c38106 {
      display: none;
    }

    .trailing_c38106 {
      background: none;
      border: none;
      height: var(--custom-channel-header-height, 48px);
      top: var(--vr-top-spacing);
    }

    /* If thread sidebar is open, reduce z-index of top bar */
    .threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0 ~ .bar_c38106 {
      z-index: 0;
    }
  }

  /* === VIDEO CONTROLS / TOOLBARS / TOPICS === */
  .videoControls_bfe55a .topControls_bfe55a,
  .toolbar__9293f,
  .topic__6ec1a {
    -webkit-app-region: no-drag;
  }

  /* === SEARCH BAR POSITIONING === */
  .searchBar__1ac1c {
    position: relative;
    right: 220px;
  }

  /* === SERVER LIST MARGIN === */
  ul[data-list-id="guildsnav"] .itemsContainer_ef3116 .stack_dbd263 {
    margin-top: 0;
  }

  /* === NOTICE ADJUSTMENT === */
  .base_c48ade > .notice__6e2b9 + .bar_c38106 {
    top: 0;
  }

  /* === UPDATE ICON EXTRA SPACING === */
  .bar_c38106 .updateIconForeground__49676 {
    ~ .trailing_c38106 {
      margin-right: 50px !important;
    }

    .videoControls_bfe55a .toolbar__9293f {
      margin-right: 30px !important;
    }
  }
}