/**
 * @name Visual Refresh Compact Title Bar
 * @author Wolfÿ
 * @version 1.1.3-Alpha
 * @description A Discord theme to compact the new visual refresh title bar
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

.visual-refresh {
    --vr-header-snippet-space: 220px;
    --vr-top-spacing: 20px;

    /* === Adjust Chat Right Padding === */
    .chat_f75fb0 section.container__9293f,
    .subtitleContainer_f75fb0 section.container__9293f,
    .container__133bf section.container__9293f,
    .chatLayerWrapper__01ae2 section.container__9293f {
        padding-right: var(--vr-header-snippet-space);
    }

    /* === Base Adjustments === */
    .base_c48ade {
        grid-template-rows: var(--vr-top-spacing) min-content auto min-content;

        > .content_c48ade {
            z-index: 0;
        }

        > .bar_c38106 {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            padding-right: 0;
        }

        .title_c38106 {
            display: none;
        }

        .trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
            top: var(--vr-top-spacing);
        }

        .threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0 ~ .bar_c38106 {
            z-index: 0;
        }
    }

    /* === Update icon patch === */
    .base_c48ade:has(.updateIconForeground__49676) 
    .container__9293f {
        padding-right: calc(var(--vr-header-snippet-space) + 50px);
    }

    .videoControls_bfe55a .toolbar__9293f {
        margin-right: calc(var(--vr-header-snippet-space) + 30px) !important;
    }

    /* === Guild List Top Padding === */
    ul[data-list-id="guildsnav"] > .itemsContainer_ef3116 > .stack_dbd263 {
        margin-top: 0;
    }

    /* === No-drag areas === */
    .videoControls_bfe55a .topControls_bfe55a,
    .header__0b563 .toolbar__9293f,
    .topic__6ec1a {
        -webkit-app-region: no-drag;
    }

    /* === Search Bar Position === */
    .searchBar__1ac1c {
        position: relative;
        right: 220px;
    }

    /* === Fix top spacing if notice appears === */
    .base_c48ade:has(> .notice__6e2b9) {
        --vr-top-spacing: 0px !important;
    }
}
